<?xml version="1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.campus_management_system.dao.dao_interface.CommonMapper">
    <resultMap id="getColleges" type="demo.campus_management_system.entity.College">
        <result property="collegeId" column="college_id"/>
        <result property="collegeName" column="college_name"/>
    </resultMap>
    <select id="getColleges" resultMap="getColleges">
        select college.college_id, college.college_name
        from college
    </select>


    <resultMap id="getBuildings" type="demo.campus_management_system.entity.Building">
        <result property="buildingId" column="building_id"/>
        <result property="buildingName" column="building_name"/>
    </resultMap>
    <select id="getBuildings">
        select building.building_id, building.building_name
        from building
    </select>


</mapper>